* body {
    margin: 0;
    padding: 0;
}

.navegador {
    background-color: #2353B8;
    margin: 0, auto;

}

a {
    text-decoration: none;
    color: #EEEEEE;
    padding: 0.6rem;
}

.navegador {
    text-align: center;
    font-size: 1.2rem;
    width: 100%;

    display: flex;
    justify-content: space-around;
}

.navegador a:hover {
    background-color: #4196BD;
    color: black;
}
.image .header{
    object-fit: cover;
    width: auto;
    max-height: 100%;
    background-repeat: no-repeat;
}
